*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
.home_container {
  padding: 50px 180px !important;
  
}

.home_container {
  width: 100%;
  padding: 80px 7.5%;
}
.home_container h1 {
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align:center;
  padding: 8px;
  box-shadow: inset 0px 0px 5px #a2b6c7;
  font-size: 22px;
  font-weight: bold;
  z-index: 1;
}
.home_container h1::after {
  position: absolute;
  content: "";
  top: 0;
  left: -23px;
  background-color: #00A516;
  width: 120%;
  height: 100%;
  
  z-index: -1;
}
.home_container .row {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 30px;
  
  box-shadow: 0px 0px 5px #aaa;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:16px;
}

.home_container .row .col{
	width:90%;
	
	
	
	
}

.home_container .row .col h2 {
	 color: #fff;
	background:#00A516;
	text-align:center;
	padding: 8px;
	width: 50%;
	height: 100%;
	font-size: 20px;
	font-weight: bold;
	margin:8px 80px;
	 
  
}
.home_container .row .col .content{
	list-style:none;
	padding:10px 30px;
	 font-size:15px;
  font-weight: bold;
 
}

.home_container .row .col .col-2 p{
	padding:10px 30px;
	text-align:justify;
	font-size:15px;
	font-weight: bold;
	
	
}

.home_container .row .col .col-2  .col2{
	margin-bottom:35px;
}















@media (max-width: 991px){
	.home_container {
    padding: 50px;
  }
  .home_container .row{
	 grid-template-columns:1fr;
		grid-gap:20px;
  
  }
  .home_container {
    padding: 80px 15px !important;
  }
  .home_container h1{
	  font-size:17px;
  }
	.home_container .row .col{
		width:100%;
	}
	.home_container .row .col h2{
		width:100%;
		margin:0;
		margin-top:8px;
	}
}





















/* .container{ */
	
	/* padding:40px 30px; */
	/* position:absolute; */
	/* z-index:525; */
/* } */
/* .container h1{ */
	/* text-align:center; */
	/* background:green; */
	/* color:white; */
	/* font-size:20px; */
	/* padding:10px; */
	
/* } */
/* .container .row{ */
	/* display:grid; */
	/* grid-template-columns:1fr 1fr; */
	/* width:80%; */
	/* border:2px solid black; */
	/* margin:80px auto; */
	/* gap:20px; */
/* } */
/* .container .row .col{ */
	/* position:relative; */
	/* width:100%; */
	
	
/* } */
/* .container .row .col .col-1 h2{ */
	/* text-align:center; */
	/* width:220px; */
	/* font-size:20px; */
	/* text-align:center; */
	/* margin-left:60px; */
	/* color:white; */
	/* background:green; */
	/* padding:10px; */
/* } */
/* .container .row .col .col-1{ */
	/* padding:7px 60px; */
/* } */
/* .container .row .col .col-1 ol{ */
	/* margin-top:10px; */
	/* margin-bottom:10px; */
	
	
	
/* } */
 	
/* .container .row .col .col-2 p{ */
	/* margin-bottom:10px; */
	/* padding:15px 30px; */
	/* text-align:justify; */
/* } */
/* .container .row .col .col-3 p{ */
	/* margin-bottom:20px; */
	/* padding:15px 30px; */
	
/* } */

